
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    perspective: 5000px;
    background-color: #c6e7f6;
    font-family: "Roboto", sans-serif;

}

.profPic {
    display: flex;
    margin: 12%;
    padding: 4%;
    width: 10vw;
    height: auto;
    box-shadow: 5px 10px 18px #888888;
    transition: all 0.5s ease;

}


.page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 130vh;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.infos{
    display: flex;
    flex-direction: row;
    margin-right: 40%;
}



.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13%;
    width: 20vw;
    /*height: 100%;*/
    font-size: 1vw;
}

.bars {
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 80%;
    font-size: 2vh;
}

.bar {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: #ffffff;
    height: 10vh;
    width: 80%;
    box-shadow: 5px 10px 18px #888888;
    visibility: visible;
    opacity: 1;
    transition:visibility 0.3s linear,opacity 0.3s linear;
    /*position: relative;*/
}

#about-me{
    position: absolute;
    top: 30vh;
    /*transition: all 1s ease ;*/
}

#education{
    position: absolute;
    top: 45vh;
}

#projects{
    position: absolute;
    top: 60vh;
}

#skills{
    position: absolute;
    top: 75vh;
}

#technologies{
    position: absolute;
    top: 90vh;
}

#bike{
    size: 9vh;
    position: absolute;
    left: 10vw;
    top: 50vh;
    display: flex;
    flex-direction: row;
}

#chess{
    size: 12vh;
    position: absolute;
    right: 10vw;
    top: 65vh;
    display: flex;
    flex-direction: row;
}


#travel{
    size: 12vh;
    position: absolute;
    left: 10vw;
    top: 80vh;
    display: flex;
    flex-direction: row;
}


#investment{
    size: 14vh;
    position: absolute;
    right: 10vw;
    top:  95vh;
    display: flex;
    flex-direction: row;
}

#university {
    size: 14vh;
    position: absolute;
    left: 10vw;
    top:  65vh;
    display: flex;
    flex-direction: row;
}

#codecool{
    size: 14vh;
    position: absolute;
    left: 10vw;
    top:  90vh;
    display: flex;
    flex-direction: row;
}

#github{
    size: 14vh;
    position: absolute;
    left: 10vw;
    top:  65vh;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}


#yt{
    size: 14vh;
    position: absolute;
    left: 10vw;
    top:  90vh;
    display: flex;
    flex-direction: row;
}

#team-work{
    size: 14vh;
    position: absolute;
    left: 10vw;
    top:  60vh;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}


#adaptivity{
    size: 14vh;
    position: absolute;
    left: 10vw;
    top:  75vh;
    display: flex;
    flex-direction: row;
}

#creativity{
    size: 14vh;
    position: absolute;
    right: 10vw;
    top:  90vh;
    display: flex;
    flex-direction: row;
}

.about-hidden{
    display: none;
    font-size: 1.2vw;
}

.education-hidden{
    display: none;
    font-size: 1.2vw;
}

.projects-hidden{
    display: none;
    font-size: 1.2vw;
}

.skills-hidden{
    display: none;
    font-size: 1.2vw;
}

.technologies-hidden{
    display: none;
    font-size: 1.2vw;
}

.picBike{

    width: 8vw;
    height: auto;
    transition: all 0.5s ease;
}


.picChess{
    width: 7vw;
    height: auto;
    transition: all 0.5s ease;
}

.picPlane{
    width: 7vw;
    height: auto;
    transition: all 0.5s ease;
}

.picCrypto{
    width: 9vw;
    height: auto;
    transition: all 0.5s ease;
}

.picUniversity{
    width: 9vw;
    height: auto;
    transition: all 0.5s ease;
}

.picCodecool{
    width: 9vw;
    height: auto;
    transition: all 0.5s ease;
}

.picGithub{
    width: 12vw;
    height: auto;
    transition: all 0.5s ease;
}

.picTeamwork{
    width: 10vw;
    height: auto;
    transition: all 0.5s ease;
}

.picAdaptivity{
    width: 10vw;
    height: auto;
    transition: all 0.5s ease;
}

.picCreativity{
    width: 10vw;
    height: auto;
    transition: all 0.5s ease;
}







